#Accept the VMware End User License Agreement
accepteula

# clear paritions and install
clearpart --firstdisk --overwritevmfs
install --firstdisk --overwritevmfs #--novmfsondisk
reboot

#set the root password
rootpw VMw@re1

#Host Network Settings
network --bootproto=dhcp

#Firstboot section 1
%firstboot --interpreter=busybox

#Enter Maintenance mode
vim-cmd hostsvc/maintenance_mode_enter

#enable & start remote ESXi Shell (SSH)
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

#enable & start ESXi Shell (TSM)
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

#suppress Shell Warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
esxcli system settings advanced set -o /UserVars/ESXiShellTimeOut -i 1

#Disable IPv6
esxcli network ip set --ipv6-enabled=false

# Open http for outbound connections
esxcli network firewall ruleset set -e true -r httpClient

# Install our ssh key
wget -O /tmp/bunchc.key https://github.com/bunchc.keys && cat /tmp/bunchc.key | tee -a /etc/ssh/keys-root/authorized_keys

# Install cloud-init
esxcli --debug software vib install -v /vmfs/volumes/datastore1/cloud-init.vib -f

#Disable CEIP
esxcli system settings advanced set -o /UserVars/HostClientCEIPOptIn -i 2

# Generate a new scratch directory for this host on a Datastore
scratchdirectory=/vmfs/volumes/datastore1/.locker-$(hostname 2> /dev/null)-$(esxcfg-info -b 2> /dev/null)

# Create the scratch directory
mkdir -p $scratchdirectory

# Change the advanced configuration option
vim-cmd hostsvc/advopt/update ScratchConfig.ConfiguredScratchLocation string $scratchdirectory

# Exit Maintenance Mode
vim-cmd hostsvc/maintenance_mode_exit

sleep 30
reboot