on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build cloud-init
    container:
      image: 'docker://bunchc/cloud-init-action'
    steps:
    - name: Build cloud-init
      id: build-step
      uses: bunchc/cloud-init-action@v2
    - name: Upload VIB
      uses: actions/upload-artifact@v2
      with:
        name: cloud-init-artifact
        path: ${{ github.workspace }}/*.vib